<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lab9_Suite">
    <listeners>
        <listener class-name="framework.utils.RetryListener"/>
    </listeners>

    <test name="Flaky_Test_Simulation">
        <classes>
            <class name="tests.FlakySimulationTest"/>
        </classes>
    </test>
</suite>